<div class="container-fluid">
  <h1>Enrollment Form</h1>
  <div class="alert alert-danger" *ngIf="errorMsg">
    {{errorMsg}}
  </div>
  <form #userForm="ngForm" *ngIf="!submitted" (ngSubmit)="onSubmit(userForm)" novalidate>
  {{userForm.value | json}}<br> 
    <!--- {{userForm.form.valid}} --->
    <hr/>
    <!--- {{userModel | json }} --->
    <div class="form-group">
      <label>Name</label>
      <input type="text" required name="name" #name="ngModel" [class.is-invalid]="name.invalid && name.touched" class="form-control"  [(ngModel)]="userModel.name">
      <small class="text-danger" [class.d-none]="name.valid || name.untouched">Please enter your name.</small>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="email" required name="email" #email="ngModel" [class.is-invalid]="email.invalid && email.touched" class="form-control" [(ngModel)]="userModel.email">
      <small class="text-danger" [class.d-none]="email.valid || email.untouched">Please enter your email.</small>
    </div>
    <div class="form-group">
      <label>Phone</label>
      <input type="tel" name="phone" required #phone="ngModel" pattern="^\d{10}$" [class.is-invalid]="phone.invalid && phone.touched" class="form-control" [(ngModel)]="userModel.phone">
    </div>
    <div class="form-group">
      <select (blur)="validateTopic(topic.value)" (change)="validateTopic(topic.value)" class="custom-select" #topic="ngModel" [class.is-invalid]="topicHasError && topic.touched" name="topic" [(ngModel)]="userModel.topic">
        <option value="default">I am interested in</option>
        <option *ngFor="let topic of topics">{{topic}}</option>
      </select>
      <small class="text-danger" [class.d-none]="!topicHasError || topic.untouched">Please choose a topic.</small>
    </div>
    <div class="mb-3">
      <label>Time preference</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="timePreference" value="morning" [(ngModel)]="userModel.timePreference">
        <label class="form-check-label">Morning (9AM - 12PM)</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="timePreference" value="evening" [(ngModel)]="userModel.timePreference">
        <label class="form-check-label">Evening(5PM - 8PM)</label>
      </div>
    </div>
    <div class="mb-3">
      <input type="form-check-input" name="subscribe" type="checkbox" [(ngModel)]="userModel.subscribe">
      <label class="form-check-label">
        &nbsp;Send me promotional offers
      </label>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="userForm.form.invalid || topicHasError">Submit Form</button>
  </form>
</div>
